<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script
      src="https://kit.fontawesome.com/0f45a40b89.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <%- include('partials/header'); -%>
    <h1>Home</h1>
    <p><%= homeStartingContent %></p>

    <% for (let i = 0; i < posts.length; i++) { %>
    <div class="post-section" id="post-section-<%= i %>">
      <!-- Display Mode -->
      <div class="post" id="display-mode-<%= i %>">
        <h2><%= posts[i].title %></h2>
        <p>
          <%= posts[i].text.substring(0, 300) %>...
          <a href="/posts/<%= posts[i].title %>?index=<%= i %>">Read More</a>
        </p>
      </div>
      <div class="text-success">
        <hr />
      </div>
    </div>
    <% } %>

    <br /><br />
    <a class="btn btn-lg btn-success composeButton" href="/compose">Compose</a>
    <%- include('partials/footer'); -%>
  </body>
</html>
